.row {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.rowprimary {
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  column-gap: 11px;
  flex-direction: row;
  row-gap: 0px;
  justify-self: flex-start;
  min-width: 0;
}
.icon:global(.__wab_instance) {
  width: auto;
}
.iconprimary:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 258px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background: #020202;
  padding-top: 33px;
  max-width: 410px;
  min-width: 0;
}
.slotTargetChildren {
  text-align: center;
}
.text__nxcw6 {
  animation: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  font-size: 90px;
  font-family: "finlandica";
  color: #c0c0c0;
  background: none;
  font-weight: 400;
  padding-top: 25px;
  padding-right: 13px;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__sX98U {
  animation: none;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  padding-right: 13px;
  color: #00afcb;
  font-weight: 400;
  font-size: 90px;
  font-family: "finlandica";
  padding-top: 25px;
  opacity: 1;
  min-width: 0;
  min-height: 0;
  display: none;
}
